[Unit]
Description=Service to automount local partitions
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/usr/local/share/scripts/
ExecStart=/bin/bash -c "/usr/local/share/scripts/automounter.sh"

[Install]
WantedBy=multi-user.target
